# Dependencies
node_modules/
dist/
build/

# Environment Variables (Sensitive Info)
.env
.env.local

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db


.expo/
web-build/
expo-env.d.ts

.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*
*.pem

*.tsbuildinfo

/ios
/android

app-example