/* src/index.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  /* This completely kills the horizontal scrollbar */
  overflow-x: hidden; 
  background-color: #121212; 
}